<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title> <b>Home</b> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="populer-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img
        routerLink="/item-detail2"
        href="item-detail"
        src="../../assets/image/Narnia_7_The_Last_Battle.jpg"
      />
      <p>Rp. 65.000</p>
      <h6>The Chronicles of Narnia #7: The Last Battle</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img
        routerLink="/item-detail"
        src="../../assets/list-books/Bumi-Manusia-1.jpg"
      />
      <p>Rp. 50.000</p>
      <h6>Bumi Bumi-Manusia-1</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img
        routerLink="/item-detail3"
        src="../../assets/image/Naruto Shibudin.jpg"
      />
      <p>Rp. 60.000</p>
      <h6>Naruto Shibudin</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img
        routerLink="/item-detail4"
        src="../../assets/image/world_history_sejarah_dunia_lengkap.jpeg"
      />
      <p>Rp. 90.000</p>
      <h6>Sejarah Dunia</h6>
    </ion-col>
  </ion-row>
</ion-content>
