<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../assets/image/like2.png" />
        </div>
      </div>

      <h2>Confirmation</h2>
      <p>
        You Have Successfully <br>
        Completed Your Payment Procedure
      </p>
    </div>
  </div>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" color="success" class="main-button" 
    routerLink="/tabs" routerDirection="forward">Back To Home</ion-button>
  </ion-toolbar>
</ion-footer>
